body {
	background:black;
}

#ime {
	margin-left:70px;
	margin-top:-600px;
}

#prezime {
	margin-left:70px;
	margin-top:40px;
}

#papir1 {
	margin-left:730px;
	margin-top:280px;
}

#papir2 {
	margin-left:780px;
	margin-top:80px;
}

#papir3 {
	margin-left:930px;
	margin-top:-80px;
}

#papir3 {
	margin-left:930px;
	margin-top:-80px;
}

#lampa {
	margin-left:820px;
	margin-top:-370px;
}

.slika {
	margin-left:850px;
	margin-top:60px;
	opacity:0;
}

.slika:hover {
	opacity:1;
}

#prozor {
	margin-left:750px;
	margin-top:-150px;
}

#sat {
	margin-left:1100px;
	margin-top:50px;
}

#knjiga {
	margin-left:713px;
	margin-top:110px;
}

#knjiga2 {
	margin-left:1200px;
	margin-top:110px;
}

#stolica {
	margin-left:560px;
	margin-top:-110px;
}

#biljka {
	margin-left:320px;
	margin-top:-100px;
}